@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@


<div id="BcFooter">

    <el-container>
        <el-footer style="text-align: center;">
            <hr />
            2019 - BlueColor.Vue.Mvc - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </el-footer>
    </el-container>

</div>

<script>

    var vm1 = new Vue({

        el: "#BcFooter",
        data: {

        }
    });

</script>
